@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@500&display=swap');
body{
  font-family: 'Poppins'
}

  input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}

@tailwind base;
@tailwind components;
@tailwind utilities;